html{
	font-size: 12px;
}
a {
	text-decoration: none;
}
/*顶部区域*/
.top{
	background: #f7f7f7;
	height: 26px;
	border-bottom: 1px solid #d8d8d8;
}
.top .top-page{
	width: 970px;
	height: 26px;
	margin: 0 auto;
}
.top .top-page .top-page-l{
	line-height: 26px;
	padding-left:  5px;
}
.top .top-page .top-page-r ul li{
	float: left;
	padding-right: 10px;
	line-height: 26px;
}
.top .top-page .top-page-r ul li a{
	color: #ff6700;
}
.top .top-page .top-page-r ul li s{
	width: 10px;
	height: 10px;
	background-image: url(../img/icon.jpg);
	display: inline-block;
	background-position: -430px -136px;
}

/*logo搜索开始*/
.logo {
	width: 970px;
	height: 98px;
	margin: 20px auto;

}
.logo .logo-l {
	width: 200px;
	height: 60px;
	background-image: url(../img/icon.jpg);
	background-position: -430px -136px;
	text-indent: -9999px;
	vertical-align: middle;
}
.logo .logo-r{
	width: 530px;
	height: 42px;
	border: 1px solid #c9c9c9;
	box-sizing: border-box;
}
.logo .logopage {
	margin: 5px 5px 5px 4px;s
}
.logo .logo-r .logo-r-t{
	width: 428px;
	height: 28px;
	border: 1px solid #c9c9c9;
	color: #999999;
}
.logo .logo-r .logo-r-r{
	width: 89px;
	height: 30px;
	border: none;
	color: white;
	background: blue;
}
/*导航*/
.nav{
	width: 970px;
	height: 25px;
	margin: 0 auto;
	border-bottom: 2px solid #ff6700;
}
.nav ul li{
	padding: 0 15px 0 15px;
	line-height: 25px;
	float: left;
	font-size: 16px;
	font-weight: bold;
}
.nav ul li a{
	color: #0266A3;
}
.nav ul li:hover{
	background: #ff6700;
}
.nav ul li:hover a{
	color: white;
}
/*广告部分*/
.banner{
	width: 970px;
	height: 210px;
	margin: 0 auto;
	margin-top: 10px
}
.subnav{
	width: 200px;
	height: 210px;
	margin-right: 11px;
}
.subnav h2{
	background:  #0266A3;
	color: white;
	height: 30px;
	line-height: 30px;
	font-size: 16px;
	font-weight: bold;
	padding-left: 20px;
}
.subnav ul{
	background: #EBF0F6;
	height: 180px;
}
.subnav li{
	font-size: 12px;
	padding-top: 12px;
	margin-left: 15px;
}
.subnav li s{
	width: 13px;
	height: 13px;
	background-image: url(../img/icon.jpg);
	background-position: -451px -258px;
	display: inline-block;
	vertical-align: middle;
}
.subnav li a{
	padding-left: 15px;
}
.ad{
	width: 520px;
	height: 210px;
	background: green;
}
.message{
	width: 230px;
	height: 210px;
}
.message .message-top{
	height: 95px;
	border: 1px solid #DDDDDD;
	background: #F7FAFF;
	margin-bottom: 22px;
	box-sizing: border-box;
}
.message-top .messagepage1{
	padding: 10px 0px 5px 20px;
	font-weight: bold;
}
.message-top  s{
	width: 40px;
	height: 40px;
	background-image: url(../img/b1.jpg);
	background-repeat: no-repeat;
	background-size: 40px 40px;
	display: inline-block;
	margin-left: 15px;
}
.message-top .messagepage2{
	font-weight: bold;
	font-size: 11px;
	margin-top: 10px;
}
.message .message-botton{
	height: 92px;
	border: 1px solid #DDDDDD;
	box-sizing: border-box;
	background: #F7F7F7;
}
.bottonpage1{
	font-weight: bold;
	font-size: 13px;
	padding: 10px 10px 10px 40px;
}
.message .message-botton s{
	width: 12px;
	height: 12px;
	background-image: url(../img/b2.jpg);
	background-repeat: no-repeat;
	background-size: 12px 12px;
	margin-left: 50px;
}
.bottonpage2{
	font-size: 12px;
	font-weight: bold;
	padding-top: 5px;
}
.bottonpage3{
	margin-left: 60px;
	width: 100px;
	height: 20px;
	background: #ff6700;
}
/*中间线部分*/
.propty{
	width: 970px;
	height: 30px;
	margin: 0 auto;
	background: #f7f7f7;
	border: 1px solid #DDDDDD;
	line-height: 30px;
	padding-left: 20px;
	box-sizing: border-box;
	margin-top: 10px;
	font-size: 13px;
	font-weight: bold;
}
 /*内容部分开始*/
.pop{
	width: 970px;
	height: 345px;
	border: 1px solid #ccc;
	margin: 0 auto;
	margin-top: 12px;
}
.pop .pop-left{
	width: 729px;
	height: 345px;
}
.pop-l-top{
	width: 729px;
	height: 170px;
	padding: 17px 0 0 26px;
	box-sizing: border-box;
}

.pop-z-z{
	width: 729px;
	height: 5px;
	background: gray;
}
.pop-l-botton{
	width: 729px;
	height: 170px;
}
.pop .pop-right{
	width: 230px;
	height: 345px;
	background: #F7F7F7;
	border: 1px solid #F7F7F7;
}

.pop-right h2{
	font-weight: bold;
	font-size: 17px;
	padding: 5px 0px 6px 10px;
	height: 21px;
	background: gray;
	border-bottom: 1px solid #ff6700;
}
.pop-right ul li {
	padding: 5px 0px 5px 35px;
	font-weight: bold;
}
.pop-right ul li a{
	padding-left: 10px;
}
.pop-right ul li span{
	border-radius: 50%;
	background: black;
	width: 10px;
	height: 10px;
	display: inline-block;
}

/*友情链接*/
.boot{
	width: 970px;
	height: 20px;
	font-size: 16px;
	font-weight: bold;
	background: #ff6700;
	color: black;
	margin: 0 auto;
	padding-left: 20px;
	margin-top: 10px;
	box-sizing: border-box;
}
/*下部分广告开始*/
.vool{
	width: 970px;
	height: 345px;
	margin: 0 auto;
	margin-top: 10px;
}
.vool .vool-l{
	width: 729px;
	height: 345px;
}
.vooll{
	width: 729px;
	height: 25px;
	border-bottom: 2px solid black;
}
.vooll .mk{
	width: 70px;
	height: 25px;
	line-height: 25px;
	padding-left: 10px;
	border-radius: 30px 40px 10px 0px;
	background: #ff6700;
	color: blue;
}
.vooll .jk a{
	height: 25px;
	line-height: 25px;
	color: red;
}
.voolr{
	height: 320px;
	border:1px solid #ccc;
	border-top: none;
	box-sizing: border-box;
}
.voolr img{
	width: 167px;
	height: 200px;
	padding: 5px 8px 5px 5px; 
}
.voolr .ct{
	padding-left: 22px;
	font-weight: bold;
}
.voolr .cl{
	padding-left: 22px;
}
.voolr .cj{
	padding-left: 25px;
}
.vool .vool-r{
	width: 230px;
	height: 345px;
}
.vool .vool-r img{
	margin-top: 26px;
	width: 232px;
	height: 320px;
}
 /*友情链接部分开始*/
.fg{
	width: 970px;
	height: 100px;
	line-height: 40px;
	margin: 0 auto;
	border-bottom: 3px solid #ccc;
}
.fg .vv{
	padding-left: 20px;
	font-weight: bold;
	color: black;
}
.fg .ww{
	padding-left: 10px;
	color: blue;
}	

/*底部 */
.hh{
	width: 970px;
	height: 91px;
	margin: 0 auto;
	margin-top: 20px;
}
.hh .ff{
	padding-left: 340px;
}
.hh .ff a{
	font-weight: bold;
	color: red;
	font-size: 15px;
}
.hh .jj{
	margin-top: 10px;
	padding-left: 283px;
}
.hh .jj a{
	color: black;
	font-size: 16px;
}
.hh .rr{
	margin-top: 10px;
	padding-left: 369px;
}
.hh .rr a{
	color: #ff6700;
	font-weight: bolder;
}
