<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>035-评论列表.html</title>
	<link rel="stylesheet" href="js/bootstrap-3.3.7.css">
</head>
<body>
	<div id="app">
		<com-box @func="loadComt"></com-box>

		<ul class="list-group">
      		<li class="list-group-item" v-for="item in list" :key="item.id">
       			 <span class="badge">评论人： {{ item.user }}</span>
       		 {{ item.content }}
      		</li>
    	</ul>
	</div>

	<template id="tmpl">
		<div>	
			 <div class="form-group">
		        <label>评论人：</label>
		        <input type="text" class="form-control" v-model="user">
		     </div>

		     <div class="form-group">
		        <label>评论内容：</label>
		        <textarea class="form-control" v-model="content"></textarea>
		     </div>

		     <div class="form-group">
		        <input type="button" value="发表评论" class="btn btn-primary" @click="postComment">
		     </div>
		</div>




	</template>
</body>
<script src="js/vue.js"></script>
<script>
	//发表评论的组件
	var commentBox = {
		template: "#tmpl",
		data(){
			return{
				user:'',
				content:''
			}
		},
		methods:{
			postComment(){
				var comment = {id:Date.now(),user: this.user,content:this.content}

				var list = JSON.parse(localStorage.getItem('cmts') || '[]')
				list.unshift(comment)
				localStorage.setItem('cmts',JSON.stringify(list))
				this.user = this.content = '';
				this.$emit('func')
			}
		}
	}






	var  vm = new Vue({
		el:"#app",
		data:{
			list:[
				{ id: Date.now(), user:"山河", content:"万里山河 皆星空"},
				{ id: Date.now(), user:"情歌", content:"眉眼如故 岁月如初"},
				{ id: Date.now(), user:"凡俗", content:"万般皆凡俗"},
				{ id: Date.now(), user:"神明", content:"仰望星空"}

			]
		},
		created(){
        	this.loadComt()
     	 },
		methods:{
			loadComt(){
					var list = JSON.parse(localStorage.getItem('cmts') || '[]')
					this.list = list;
			}
		},
		components:{
			"com-box":commentBox
		}
	})
</script>
</html>